#event-detail
  padding 20px
  background-color #eeeeee
  overflow scroll

  .cover-art, .google-map
    width 100%

  .google-map
    height 360px
    margin-top 20px

  .bordered
    border 1px solid #e0e0e0

  table
    background-color inherit !important
    tr
      height 28px !important
      td
        height inherit !important

    // Property name
    td:first-child
      font-weight bold

    // Property value
    td:last-child
      color #757575

  .event-detail-title-container
    display flex
    flex-direction row
    justify-content space-between
    margin-bottom 20px
