@import './components/event-manager/event-manager'
@import './components/event-manager/app-menu/app-menu'
@import './components/event-manager/event-list/event-list'
@import './components/event-manager/event-detail/event-detail'

*
  -webkit-user-select none
  cursor default

html
  font-family 'Roboto', sans-serif

body
  margin 0
  padding 0
